<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019816056508-ciq6hd8rje6qdtvglf9l1o9ut1scs5lr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019816056508-ciq6hd8rje6qdtvglf9l1o9ut1scs5lr</string>
	<key>API_KEY</key>
	<string>AIzaSyCV0kwKeDcN9rHiGrJfRG39s1jArrGSLgk</string>
	<key>GCM_SENDER_ID</key>
	<string>1019816056508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wisataTenjolaya</string>
	<key>PROJECT_ID</key>
	<string>wite-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>wite-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019816056508:ios:0b12787004ebf29d6c62b9</string>
</dict>
</plist>